{% extends './base.html' %}

{% block title %} Home {{ user.correoElectronico }} {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/sticky-footer-navbar.css')}}">

{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info navbar-expand-sm">
  <!-- Agrega un logo -->
  <img src="{{url_for('static', filename= 'img/prueba.png')}}" alt="" width="72" height="57" style="margin-left: 10px;">
  <a class="navbar-brand" style="margin-left: 15px;" href="{{ url_for('home') }}">MediAPP</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('agendar') }}">Agendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('citasPaciente') }}">Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('perfilPaciente') }}">Mi Perfil</a>
      </li>
    </ul>
    <!-- Agrega boton de cerrar sesion al final de la navbar hasta el lado derecho -->
    <div class="d-flex">
      <a class="btn btn-danger" href="/logout" style="margin-left:10px; margin-right:10px">Cerrar Sesión</a>
    </div>
  </div>
</nav>


<main role="main" class="container">
  <h1 class="mt-5">Revisa tus citas {{ paciente.nombre }}</h1>


  <div class="container mt-5">
    <h2 class="mb-3 mt-2">Citas</h2>
    {% if citas %}
    <div class="row">
      {% for cita in citas %}
      <div class="col-lg-4">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Fecha: {{ cita.fecha }}</h5>
            <p class="card-text">
              Hora inicio: {{ cita.horaInicio }}<br>
              Hora fin: {{ cita.horaFin }}<br>
              Doctor: {{ cita.nombre }} {{ cita.apellidoPaterno }} <br>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>





</main>


<!--Aqui comienza el contenido-->

<!--Div de menor tamaño en horizontal que la pantalla-->



</div>



<!--Aqui termina el contenido-->

<footer class="footer">
  <div class="container">
    <span class="text-muted">MediAPP derechos reservados</span>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>


{% endblock%}