{% extends './base.html' %}

{% block title %} Home {{ user.correoElectronico }} {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/sticky-footer-navbar.css')}}">

{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info navbar-expand-sm">
  <!-- Agrega un logo -->
  <img src="{{url_for('static', filename= 'img/prueba.png')}}" alt="" width="72" height="57" style="margin-left: 10px;">
  <a class="navbar-brand" style="margin-left: 15px;" href="{{ url_for('homeDoctor') }}">MediAPP</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('homeDoctor') }}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('perfilDoctor') }}">Mi Perfil</a>
      </li>
    </ul>
    <!-- Agrega boton de cerrar sesion al final de la navbar hasta el lado derecho -->
    <div class="d-flex">
      <a class="btn btn-danger" href="/logout" style="margin-left:10px; margin-right:10px">Cerrar Sesión</a>
    </div>
  </div>
</nav>


<main role="main" class="container">
  <h1 class="mt-5">Administra tus citas {{ medico.nombre }}</h1>


  <div class="container mt-5">
    <h2 class="mb-3 mt-2">Citas</h2>
    {% if citas %}
    <div class="row">
      {% for cita in citas %}
      <div class="col-lg-4">
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">{{ cita.fechaCita }}</h5>
            <p class="card-text">
              Paciente: {{ cita.NombrePaciente }} {{ cita.ApellidoPaterno }}<br>
              Correo: {{ cita.correo }}<br>
              Hora inicio: {{ cita.horaInicio }}<br>
              Hora fin: {{ cita.horaFin }}
            </p>
            <!-- Botones que lanzan los modales -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#modalExamen{{ cita.idCita }}" data-idcita="{{ cita.idCita }}"
              data-idpaciente="{{ cita.idPaciente }}">
              Agregar Resultados
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
              data-bs-target="#modalHistorial{{ cita.idCita }}" data-idcita="{{ cita.idCita }}"
              data-idpaciente="{{ cita.idPaciente }}">
              Agregar Historial
            </button>
          </div>
        </div>
      </div>
      <!-- Modales -->
      <!-- Modal de examen -->
      <div class="modal fade" id="modalExamen{{ cita.idCita }}" tabindex="-1"
        aria-labelledby="modalLabelExamen{{ cita.idCita }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabelExamen{{ cita.idCita }}">Detalles del examen</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="idCitaExamen" value="{{ cita.idCita }}">
                <input type="hidden" id="idPacienteExamen" value="{{ cita.idPaciente }}">
                <!-- Aquí irá el contenido del formulario -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal de historial -->
      <div class="modal fade" id="modalHistorial{{ cita.idCita }}" tabindex="-1"
        aria-labelledby="modalLabelHistorial{{ cita.idCita }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabelHistorial{{ cita.idCita }}">Agregar Historial</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <input type="hidden" id="idCitaHistorial" value="{{ cita.idCita }}">
                <input type="hidden" id="idPacienteHistorial" value="{{ cita.idPaciente }}">
                <!-- Aquí irá el contenido del formulario -->
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>








</main>









</div>






<!--Aqui termina el contenido-->

<footer class="footer">
  <div class="container">
    <span class="text-muted">MediAPP derechos reservados</span>
  </div>
</footer>



<script>

  $(document).ready(function () {
    $('.modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Botón que activó el modal
      var idCita = button.data('idcita'); // Extrae el id de la cita de los atributos data-*
      var idPaciente = button.data('idpaciente'); // Extrae el id del paciente de los atributos data-*
      var modal = $(this);
      modal.find('.modal-body #idCitaExamen').val(idCita);
      modal.find('.modal-body #idPacienteExamen').val(idPaciente);
      modal.find('.modal-body #idCitaHistorial').val(idCita);
      modal.find('.modal-body #idPacienteHistorial').val(idPaciente);
    });
  });


</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>






{% endblock%}