{% extends './base.html' %}

{% block title %} Home {{ user.correoElectronico }} {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/sticky-footer-navbar.css')}}">

{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-info navbar-expand-sm">
    <!-- Agrega un logo -->
    <img src="{{url_for('static', filename= 'img/prueba.png')}}" alt="" width="72" height="57" style="margin-left: 10px;">
    <a class="navbar-brand" style="margin-left: 15px;" href="#">MediAPP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Doctores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mi Perfil</a>
        </li>
      </ul>
      <!-- Agrega boton de cerrar sesion al final de la navbar hasta el lado derecho -->
      <div class="d-flex">
        <a class="btn btn-danger" href="/logout" style="margin-left: 10px;">Cerrar Sesión</a>
      </div>
    </div>
  </nav>
  
  
  <main role="main" class="container">
    <h1 class="mt-5">Bienvenido/a Administrador {{ user.correoElectronico }}</h1>
   
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">MediAPP derechos reservados</span>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  





{% endblock%}