{% extends './base.html' %}

{% block title %} Login {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename = 'css/sing-in.css')}}">

{% endblock %}

{% block body %}

<main class="form-signin w-100 m-auto">
    <form action="/login" method="POST">

        <img class="mb-4" src="{{url_for('static', filename= 'img/prueba.png')}}" alt="" width="72" height="57">
        
        <h1 class="h3 mb-3 fw-normal">Inicie Sesión</h1>

        {% with message =get_flashed_messages((with_categories=true))%}
        {% if message%}
        <br>
        {% for msg in message%}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="form-floating">
            <input type="email" class="form-control" name="correo" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Correo</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="contraseña" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>


        <div class="form-floating mt-2">
            <a href="/registro">Registrarse</a>

    </form>
</main>

{% endblock%}